<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <meta charset="utf-8">
    <title>GetMe</title>
  </head>
  <body>
    <header>
      <img src="https://i.ibb.co/3R3G8vD/97255518-675426683190187-1591086019376054272-n.jpg">
      <nav>
          <ul>
              <li><a href="/getme">Home</a></li>
              <li><a href="/getme/new">Add Item</a></li>
            
          </ul>
      </nav>
  </header>

    <div class="container">
      <% for (let i =0; i < products.length; i++) { %>
        
          <div class="item">
            <h3> <a href="/getme/<%=products[i].id %>">
            <%= products[i].name; %> </a> </h3>
            <div class="img">
              <img src="<%=products[i].img;%>"> 
            </div>
              <h4> <%= products[i].description; %> </h4>
              <h5> <%= products[i].price; %> </h5>
              <h5> <%= products[i].qty; %> </h5>
            </div>
            <div class="delete">
              <form action="/getme/<%= products[i].id %>?_method=DELETE" method="POST">
              <input type="submit" value="DELETE"/>
            </div>
        

      <% } %>

    </div>
  </body>
</html>

